body {
	background: #fafafa;
	color: #444;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
}

.container{
    width:800px;
    margin: 0 auto;
}

.sia-state{
    background-color: #044ae0;
    color:#FFF;
    font-family: sans-serif;
    text-align:center;
    height:25px;
    padding:10px;
    border-radius: 2px;
}

strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr:nth-child(odd) td {
    background: #f1f1f1 
}
tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}
button{
    background: #044ae0;
    border:none;
    background-image: -webkit-linear-gradient(top, #94e8eb, #044ae0);
    background-image: -moz-linear-gradient(top, #94e8eb, #044ae0);
    background-image: -ms-linear-gradient(top, #94e8eb, #044ae0);
    background-image: -o-linear-gradient(top, #94e8eb, #044ae0);
    background-image: linear-gradient(to bottom, #94e8eb, #044ae0);
    height: 40px;
    border-radius: 5px;
    color:#FFF;
}
button:hover{
    color:lightgoldenrodyellow;
    cursor: pointer;
}
.hash-rate{
	height: 32px;
    border-radius: 4px;
}

